@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(68, 134, 255);
    font-family: 'Lato', sans-serif;
}

.head {
    text-align: center;
    font-size: 5rem;
}

.box{
    position: relative;
    transition: all 0.5s;
    background-color: black;
    text-align: center;
    padding: 25px;
    width: min-content;
    color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: 55px;
    top: 0px;
}

.box:hover {
    position: relative;
    transition: all 0.5s;
    background-color: black;
    text-align: center;
    padding: 25px;
    width: min-content;
    color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: 55px;
    top: -10px;
}

.boxhead {
    font-size: 2rem;
    font-weight: bold;
}

.imp {
    font-size: 2rem;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.submit {
    transition: all 0.5s ease;
    position: relative;
    background-color: rgb(68, 134, 255);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    top: 0px;
}

.submit:hover {
    position: relative;
    background-color: rgb(68, 134, 255);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    top: -10px;
}